<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
    <meta name="description" content="在求知的世界，距离从来就不是问题"/>
    <meta name="keywords" content="谜语者,科技,瞬语，提问，即时回答，投资，创业"/>
    <title><%= title %></title>
    <link rel="icon" href="images/logo.ico">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/bm.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="javascripts/html5shiv.min.js"></script>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>
